<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4>
                            VENTAS
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card card-chart">
                    <div class="card-header">
                       <h4>PEDIDOS</h4>
                    </div>
                    <div class="card-body">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <gst-client></gst-client>
            </div>
        </div>
     
    </div>
</div>