section
{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/img/fondo_login.png');
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;
}
