node_modules
.git
.ipynb_checkpoints/*
/notebooks/*
/unused/*
Dockerfile
.DS_Store
**/.DS_Store
.gitignore
README.md
env.*
/devops/*
documentation
.editorconfig
.eslintignore
.eslintrc
.yo-rc.json
kubernetes-dev
kubernetes-prod
